@model WebApp1.Models.Event

@{
    ViewData["Title"] = "Details";
}

<h1>Информация</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @* @Html.DisplayNameFor(model => model.Name) *@
            Наименование
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @* @Html.DisplayNameFor(model => model.City) *@
            Город
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class = "col-sm-2">
            @* @Html.DisplayNameFor(model => model.CreatedAt) *@
            Создано
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @* @Html.DisplayNameFor(model => model.StartedAt) *@
            Начало
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartedAt)
        </dd>
        <dt class = "col-sm-2">
            @* @Html.DisplayNameFor(model => model.FinishedAt) *@
            Завершение
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FinishedAt)
        </dd>
        <dt class = "col-sm-2">
            @* @Html.DisplayNameFor(model => model.Creator) *@
            Создатель
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Creator.Id)
        </dd>
    </dl>
</div>
<div>
    <form asp-action="Create" method="post">
        <hr/>
        <div class="text-danger" role="alert"></div>
        <div>
            <button id="login-submit" class="w-100 btn btn-lg btn-warning">Создать билетера</button>
        </div>
    </form>
</div>
<div>
    <form asp-action="Create" method="post">
        <hr/>
        <div class="text-danger" role="alert"></div>
        <div>
            <button id="login-submit" class="w-100 btn btn-lg btn-warning">Посмотреть список билетеров</button>
        </div>
    </form>
</div>
<div>
    <hr/>
    <a asp-action="Index">Вернуться к списку</a>
</div>
