@model EventDetails

@using WebApp1.Views.Event
@{
    Layout = "_Layout";
    ViewData["ActivePage"] = EventNavPages.Details;
}

<div class="tabcontent">
    <div class="content_block">
        <dl class="row">
            <dt class="col-sm-2">
                <p>Наименование</p>
            </dt>
            <dd class="col-sm-10">
                <p>@Model.Name</p>
            </dd>
            <dt class="col-sm-2">
                <p>Город</p>
            </dt>
            <dd class="col-sm-10">
                <p>@Model.City</p>
            </dd>
            <dt class="col-sm-2">
                <p>Создано</p>
            </dt>
            <dd class="col-sm-10">
                <p>@Model.CreatedAt</p>
            </dd>
            <dt class="col-sm-2">
                <p>Начало</p>
            </dt>
            <dd class="col-sm-10">
                <p>@Model.StartedAt</p>
            </dd>
            <dt class="col-sm-2">
                <p>Завершение</p>
            </dt>
            <dd class="col-sm-10">
                <p>@Model.FinishedAt</p>
            </dd>
            <dt class="col-sm-2">
                <p>Создатель</p>
            </dt>
            <dd class="col-sm-10">
                <p>@Model.CreatorUsername</p>
            </dd>
        </dl>
    </div>
</div>

@*<partial name="_DetailsNav"/>
<!--
<div class="d-flex justify-content-between mt-3 mb-3">
    <h1 class="d-block">@Model.Name</h1>
     <div class="d-block">
         <a asp-controller="Event"
            asp-action="EditDisplay"
            asp-route-eventId="@Model.Id"
            class="w-100 btn btn-lg btn-warning">
             Настроить экран
         </a>
        </div>
</div>
-->

<div>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">Наименование</dt>
        <dd class="col-sm-10">@Model.Name</dd>
        <dt class="col-sm-2">Город</dt>
        <dd class="col-sm-10">@Model.City</dd>
        <dt class="col-sm-2">Создано</dt>
        <dd class="col-sm-10">@Model.CreatedAt</dd>
        <dt class="col-sm-2">Начало</dt>
        <dd class="col-sm-10">@Model.StartedAt</dd>
        <dt class="col-sm-2">Завершение</dt>
        <dd class="col-sm-10">@Model.FinishedAt</dd>
        <dt class="col-sm-2">Создатель</dt>
        <dd class="col-sm-10">@Model.CreatorUsername</dd>
    </dl>
</div>
<hr/>

<div class="d-flex justify-content-between mt-3 mb-3">
    <h1 class="d-block">Билетеры</h1>
    <div class="d-block">
        <a asp-controller="Event"
           asp-action="AddScanner"
           asp-route-eventId="@Model.Id"
           asp-route-eventName="@Model.Name"
           class="w-100 btn btn-lg btn-warning">
            Добавить билетера
        </a>
    </div>
</div>
<div class=" justify-content-between mt-3 mb-3">
    @if (!Model.Scanners.Any())
    {
        <p>К этому мероприятию пока не добавлены билетеры</p>
    }
    else
    {
        <div class="table-responsive custom-table mb-3">
            <table class="table table-dark table-hover align-middle">
                <thead>
                <th>
                    <div class="table-col-header">Логин</div>
                </th>
                </thead>
                <tbody>
                @foreach (var scanner in Model.Scanners)
                {
                    <tr onclick="location.href='@Url.Action("EditScanner", new { userId = scanner.Id,
                                                    eventId = Model.Id,
                                                    eventName = Model.Name})';">
                        <td class="table-row">
                            <div hidden>@scanner.Id</div>
                            <div class="table-col">@scanner.Username</div>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    }
    @if (!Model.Scanners.Any())
    {
        <p>На это мероприятие пока никто не пришел</p>
    }
    else
    {
        <div class="table-responsive custom-table mb-3">
            <table class="table table-dark table-hover align-middle">
                <thead>
                <th>
                    <div class="table-col-header">Билеты</div>
                </th>
                </thead>
                <tbody>
                @foreach (var tickets in Model.PassedTickets)
                {
                    <a>
                        <tr>
                            <td class="table-row  d-flex">
                                <div hidden>@tickets.Id</div>
                                <div class="table-col">@tickets.Name</div>
                                <div class="table-col">@tickets.Surname</div>
                                <div class="table-col">@tickets.Patronymic</div>
                                <div class="table-col">@tickets.PassedAt</div>
                            </td>
                        </tr>
                    </a>
                }
                </tbody>
            </table>
        </div>
    }
</div>


<div>
    <a asp-action="Index" asp-controller="Event">Вернуться к списку</a>
</div>*@