@model IEnumerable<WebApp1.Models.Event>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<partial name="_StatusMessage" for="@TempData["StatusMessage"]"/>
<form asp-action="EventLoad" method="post">
    <hr/>
    <div class="text-danger" role="alert"></div>
    <div>
        <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-warning">Занюхни чамарчик, быдло(подгрузить ивенты)</button>
    </div>
</form>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FinishedAt)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinishedAt)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            </td>
        </tr>
    }
    </tbody>
</table>