@model EventTickets

@using WebApp1.Views.Event
@{
    Layout = "_Layout";
    ViewData["ActivePage"] = EventNavPages.Tickets;
}

<div class="tabcontent">
    <div class="content_block">
        <div class="custom-btm-mini margin">
            <a asp-controller="Event"
               asp-action="AddScanner"
               asp-route-eventId="@Model.Id"
               asp-route-eventName="@Model.Name">
               Добавить билетера
            </a>
        </div>
        
        @if (!Model.Scanners.Any())
        {
            <p>К этому мероприятию пока не добавлены билетеры</p>
        }
        else
        {            
            <table class="details">                
                <th><p>Логин</p></th>
                <th></th>
                @foreach (var scanner in Model.Scanners) {
                    <tr>
                        <td>
                            <div hidden>@scanner.Id</div>
                            <p>@scanner.Username</p>
                        </td>
                        <td>
                            <div class="custom-btm-mini">
                                <button onclick="location.href='@Url.Action("EditScanner", new {
                                    userId = scanner.Id, 
                                    eventId = Model.Id, 
                                    eventName = Model.Name})';">Информация</button>
                            </div>
                        </td>
                    </tr>
                }
            </table>
        }
    </div>
</div>
