@using WebApp1.Views.Event
@model EventDetails
@{
    Layout = "_Layout";
    ViewData["ActivePage"] = EventNavPages.Details;
}

<div class="tabcontent">
    <div class="content_block">
        <table class="details">
            <tr>
                <td>
                    <p>Наименование:</p>
                </td>
                <td>
                    <p>@Model.Name</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Город:</p>
                </td>
                <td>
                    <p>@Model.City</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Создано:</p>
                </td>
                <td>
                    <p>@Model.CreatedAt</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Начало:</p>
                </td>
                <td>
                    <p>@Model.StartedAt</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Завершение:</p>
                </td>
                <td>
                    <p>@Model.FinishedAt</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Создатель:</p>
                </td>
                <td>
                    <p>@Model.CreatorUsername</p>
                </td>
            </tr>
        </table>
    </div>
</div>