@using WebApp1.Views.Event
@model DisplayViewModel
@{
    Layout = "_Layout";
    ViewData["ActivePage"] = EventNavPages.EditDisplay;
}

<div class="tabcontent">
<form asp-controller="Event" asp-action="EditDisplay" id="registerForm" method="post" enctype="multipart/form-data">
<input asp-for="EventId" hidden/>
<input asp-for="WaitingDisplayViewModel.Id" hidden/>
<input asp-for="SuccessDisplayViewModel.Id" hidden/>
<input asp-for="FailDisplayViewModel.Id" hidden/>
<input asp-for="WaitingDisplayViewModel.DeleteLogo" id="wld" hidden/>
<input asp-for="WaitingDisplayViewModel.DeleteBackground" id="wbd" hidden/>
<input asp-for="SuccessDisplayViewModel.DeleteLogo" id="sld" hidden/>
<input asp-for="SuccessDisplayViewModel.DeleteBackground" id="sbd" hidden/>
<input asp-for="FailDisplayViewModel.DeleteLogo" id="fld" hidden/>
<input asp-for="FailDisplayViewModel.DeleteBackground" id="fbd" hidden/>
<div class="content_block">
    <div class="content_row">
        <h1>Режим ожидания</h1>

        <table>
            <tr>
                <td>
                    <p>Текст приветствия</p>
                </td>
                <td>
                    <div class="custom-textarea">
                        <textarea asp-for="WaitingDisplayViewModel.MainText" rows="1" id="waiting-display-input"></textarea>
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <p>Описание</p>
                </td>
                <td>
                    <div class="custom-textarea">
                        <textarea asp-for="WaitingDisplayViewModel.Description" rows="1" id="waiting-display-description-input"></textarea>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Загрузите логотип</p>
                </td>
                <td>
                    <label class="custom-file-btm">
                        <input asp-for="WaitingDisplayViewModel.Logo" id="wait_logo_input">
                        <span asp-validation-for="WaitingDisplayViewModel.Logo">Загрузить файл</span>
                        <button type="button" onclick="clearFileWL()">✕</button>
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Загрузите фон</p>
                </td>
                <td>
                    <label class="custom-file-btm">
                        <input asp-for="WaitingDisplayViewModel.Background" id="wait_bg_input">
                        <span asp-validation-for="WaitingDisplayViewModel.Background">Загрузить файл</span>
                        <button type="button" onclick="clearFileWB()">✕</button>
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Выберите цвет фона</p>
                </td>
                <td>
                    <input asp-for="WaitingDisplayViewModel.BackgroundColor" id="wait-bg-color" type="color">
                </td>
            </tr>
            <tr>
                <td>
                    <p>Выберите цвет текста</p>
                </td>
                <td>
                    <input asp-for="WaitingDisplayViewModel.TextColor" type="color" id="wait-color">
                </td>
            </tr>
            <tr>
                <td>
                    <p>Выберите размер текста</p>
                </td>
                <td>
                    <input asp-for="WaitingDisplayViewModel.TextSize" type="number" id="wait-size">
                </td>
            </tr>
        </table>
    </div>

    <div class="content_row">
        @{
            var result = Model.WaitingDisplayViewModel.TextSize / 5;
            var size = result + "px";
        }
        <div class="display-preview-block" id="preview_wait" style="font-size: @size; color: @Model.WaitingDisplayViewModel.TextColor; background-image: url('../@Model.WaitingDisplayViewModel.BackgroundPath'); background-size: cover; background-color: @Model.WaitingDisplayViewModel.BackgroundColor">

            <div class="display-preview">
                <img alt="" src="/@Model.WaitingDisplayViewModel.LogoPath" id="wait_logo" height="40">
                <div style="width: 100%" id="waiting-display"></div>
                <div id="waiting-display-description"></div>
            </div>
        </div>
    </div>
</div>

<div class="content_block">
    <div class="content_row">
        <h1>Успешное сканирования</h1>
        <table>
            <tr>
                <td>
                    <p>Текст приветствия</p>
                </td>
                <td>
                    <div class="custom-textarea">
                        <textarea asp-for="SuccessDisplayViewModel.MainText" rows="1" id="success-display-input"></textarea>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Описание</p>
                </td>
                <td>
                    <div class="custom-textarea">
                        <textarea asp-for="SuccessDisplayViewModel.Description" id="success-display-description-input" rows="1"></textarea>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Загрузите логотип</p>
                </td>
                <td>
                    <label class="custom-file-btm">
                        <input asp-for="SuccessDisplayViewModel.Logo" id="success_logo_input">
                        <span asp-validation-for="SuccessDisplayViewModel.Logo">Загрузить файл</span>
                        <button type="button" onclick="clearFileSL()">✕</button>
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Загрузите фон</p>
                </td>
                <td>
                    <label class="custom-file-btm">
                        <input asp-for="SuccessDisplayViewModel.Background" id="success_bg_input">
                        <span asp-validation-for="SuccessDisplayViewModel.Background">Загрузить файл</span>
                        <button type="button" onclick="clearFileSB()">✕</button>
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Выберите цвет фона</p>
                </td>
                <td>
                    <input asp-for="SuccessDisplayViewModel.BackgroundColor" id="success-bg-color" type="color">
                </td>
            </tr>
            <tr>
                <td>
                    <p>Выберите цвет текста</p>
                </td>
                <td>
                    <input asp-for="SuccessDisplayViewModel.TextColor" type="color" id="success-color">
                </td>
            </tr>
            <tr>
                <td>
                    <p>Выберите размер текста</p>
                </td>
                <td>
                    <input asp-for="SuccessDisplayViewModel.TextSize" type="number" id="success-size">
                </td>
            </tr>
        </table>
    </div>

    <div class="content_row">
        @{
            var resultS = Model.SuccessDisplayViewModel.TextSize / 5;
            var sizeS = resultS + "px";
        }
        <div class="display-preview-block" id="preview_success" style="font-size: @sizeS; color: @Model.SuccessDisplayViewModel.TextColor; background-image: url('../@Model.SuccessDisplayViewModel.BackgroundPath'); background-size: cover; background-color: @Model.SuccessDisplayViewModel.BackgroundColor">
            <div class="display-preview">
                <img alt="" src="/@Model.SuccessDisplayViewModel.LogoPath" id="success-logo" height="40">
                <div id="success-display"></div>
                <div id="success-display-description"></div>
            </div>
        </div>
    </div>
</div>

<div class="content_block">
    <div class="content_row">
        <h1>Ошибка сканирования</h1>
        <table>
            <tr>
                <td>
                    <p>Текст приветствия</p>
                </td>
                <td>
                    <div class="custom-textarea">
                        <textarea asp-for="FailDisplayViewModel.MainText" rows="1" id="fail-display-input"></textarea>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Описание</p>
                </td>
                <td>
                    <div class="custom-textarea">
                        <textarea asp-for="FailDisplayViewModel.Description" rows="1" id="fail-display-description-input"></textarea>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Загрузите логотип</p>
                </td>
                <td>
                    <label class="custom-file-btm">
                        <input asp-for="FailDisplayViewModel.Logo" id="fail_logo_input">
                        <span asp-validation-for="FailDisplayViewModel.Logo">Загрузить файл</span>
                        <button type="button" onclick="clearFileFL()">✕</button>
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Загрузите фон</p>
                </td>
                <td>
                    <label class="custom-file-btm">
                        <input asp-for="FailDisplayViewModel.Background" id="fail_bg_input">
                        <span asp-validation-for="FailDisplayViewModel.Background">Загрузить файл</span>
                        <button type="button" onclick="clearFileFB()">✕</button>
                    </label>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Выберите цвет фона</p>
                </td>
                <td>
                    <input asp-for="FailDisplayViewModel.BackgroundColor" id="fail-bg-color" type="color">
                </td>
            </tr>
            <tr>
                <td>
                    <p>Выберите цвет текста</p>
                </td>
                <td>
                    <input asp-for="FailDisplayViewModel.TextColor" type="color" id="fail-color">
                </td>
            </tr>
            <tr>
                <td>
                    <p>Выберите размер текста</p>
                </td>
                <td>
                    <input asp-for="FailDisplayViewModel.TextSize" type="number" id="fail-size">
                </td>
            </tr>
        </table>
    </div>

    <div class="content_row">
        @{
            var resultF = Model.FailDisplayViewModel.TextSize / 5;
            var sizeF = resultF + "px";
        }
        <div class="display-preview-block" id="preview-fail" style="font-size: @sizeF; color: @Model.FailDisplayViewModel.TextColor; background-image: url('../@Model.FailDisplayViewModel.BackgroundPath'); background-size: cover; background-color: @Model.FailDisplayViewModel.BackgroundColor">

            <div class="display-preview">
                <img alt="" src="/@Model.FailDisplayViewModel.LogoPath" id="fail-logo" height="40">
                <div id="fail-display"></div>
                <div id="fail-display-description"></div>
            </div>
        </div>
    </div>
</div>

<script>
        document.addEventListener('DOMContentLoaded', function () {
            const waiting_input = document.getElementById("waiting-display-input");
            const waiting = document.getElementById("waiting-display");
            const waiting_description_input = document.getElementById("waiting-display-description-input");
            const waiting_description = document.getElementById("waiting-display-description");
            const success_input = document.getElementById("success-display-input");
            const success = document.getElementById("success-display");
            const success_description_input = document.getElementById("success-display-description-input");
            const success_description = document.getElementById("success-display-description");
            const fail_input = document.getElementById("fail-display-input");
            const fail = document.getElementById("fail-display");
            const fail_description_input = document.getElementById("fail-display-description-input");
            const fail_description = document.getElementById("fail-display-description");
            const fail_logo_input = document.getElementById("fail_logo_input");
            const fail_bg_input = document.getElementById("fail_bg_input");
            const fail_logo = document.getElementById("fail-logo");
            const preview_fail = document.getElementById("preview-fail");
            const success_logo_input = document.getElementById("success_logo_input");
            const success_bg_input = document.getElementById("success_bg_input");
            const success_logo = document.getElementById("success-logo");
            const preview_success = document.getElementById("preview_success");
            const wait_logo_input = document.getElementById("wait_logo_input");
            const wait_bg_input = document.getElementById("wait_bg_input");
            const wait_logo = document.getElementById("wait_logo");
            const preview_wait = document.getElementById("preview_wait");
            const wait_color = document.getElementById("wait-color");
            const wait_bg_color = document.getElementById("wait-bg-color");
            const wait_size = document.getElementById("wait-size");
            const success_color = document.getElementById("success-color");
            const success_bg_color = document.getElementById("success-bg-color");
            const success_size = document.getElementById("success-size");
            const fail_color = document.getElementById("fail-color");
            const fail_bg_color = document.getElementById("fail-bg-color");
            const fail_size = document.getElementById("fail-size");
            setInitial();
            function setInitial() {
                waiting.innerHTML = waiting_input.value;
                waiting_description.innerHTML = waiting_description_input.value;
                success.innerHTML = success_input.value;
                success_description.innerHTML = success_description_input.value;
                fail.innerHTML = fail_input.value;
                fail_description.innerHTML = fail_description_input.value;
            }
            
            wait_color.addEventListener("change", function () {
                preview_wait.style.color = wait_color.value;
            });
            success_color.addEventListener("change", function () {
                preview_success.style.color = success_color.value;
            });
            fail_color.addEventListener("change", function () {
                preview_fail.style.color = fail_color.value;
            });
            
            wait_bg_color.addEventListener("change", function () {
                preview_wait.style.backgroundColor = wait_bg_color.value;
            });
            success_bg_color.addEventListener("change", function () {
                preview_success.style.backgroundColor = success_bg_color.value;
            });
            fail_bg_color.addEventListener("change", function () {
                preview_fail.style.backgroundColor = fail_bg_color.value;
            });
            
            wait_size.addEventListener("change", function () {
                preview_wait.style.fontSize = (wait_size.value / 5) + "px";
            });
            success_size.addEventListener("change", function () {
                preview_success.style.fontSize = (success_size.value / 5) + "px";
            });
            fail_size.addEventListener("change", function () {
                preview_fail.style.fontSize = (fail_size.value / 5) + "px";
            });
            
            waiting_input.addEventListener("change", function () {
                waiting.innerHTML = waiting_input.value;
            });
            waiting_description_input.addEventListener("change", function () {
                waiting_description.innerHTML = waiting_description_input.value;
            });
            success_input.addEventListener("change", function () {
                success.innerHTML = success_input.value;
            });
            success_description_input.addEventListener("change", function () {
                success_description.innerHTML = success_description_input.value;
            });
            fail_input.addEventListener("change", function () {
                fail.innerHTML = fail_input.value;
            });
            fail_description_input.addEventListener("change", function () {
                fail_description.innerHTML = fail_description_input.value;
            });
            fail_logo_input.addEventListener("change", function () {
                if (this.files && this.files[0]) {
                    fail_logo.src = URL.createObjectURL(this.files[0]);
                    document.getElementById("fld").checked = ""
                    fail_logo.onload = function() {
                        URL.revokeObjectURL(fail_logo.src); // Освобождение памяти
                    };
                }
            });
            fail_bg_input.addEventListener("change", function () {
                if (this.files && this.files[0]) {
                    const fileURL = URL.createObjectURL(this.files[0]);
                    preview_fail.style.backgroundImage = `url(${fileURL})`;
                    preview_fail.style.backgroundSize = "cover"; // Чтобы фон покрывал весь блок
                    preview_fail.style.backgroundPosition = "center"; // Центрирование фона
                    document.getElementById("fbd").checked = ""
                }
            });
            success_logo_input.addEventListener("change", function () {
                if (this.files && this.files[0]) {
                    success_logo.src = URL.createObjectURL(this.files[0]);
                    document.getElementById("sld").checked = ""
                    success_logo.onload = function() {
                        URL.revokeObjectURL(success_logo.src); // Освобождение памяти
                    };
                }
            });
            success_bg_input.addEventListener("change", function () {
                if (this.files && this.files[0]) {
                    const fileURL = URL.createObjectURL(this.files[0]);
                    preview_success.style.backgroundImage = `url(${fileURL})`;
                    preview_success.style.backgroundSize = "cover"; // Чтобы фон покрывал весь блок
                    preview_success.style.backgroundPosition = "center"; // Центрирование фона
                    document.getElementById("sbd").checked = ""
                }
            });
            wait_logo_input.addEventListener("change", function () {
                if (this.files && this.files[0]) {
                    wait_logo.src = URL.createObjectURL(this.files[0]);
                    document.getElementById("wld").checked = ""
                    wait_logo.onload = function() {
                        URL.revokeObjectURL(wait_logo.src); // Освобождение памяти
                    };
                }
            });
            wait_bg_input.addEventListener("change", function () {
                if (this.files && this.files[0]) {
                    const fileURL = URL.createObjectURL(this.files[0]);
                    preview_wait.style.backgroundImage = `url(${fileURL})`;
                    preview_wait.style.backgroundSize = "cover"; // Чтобы фон покрывал весь блок
                    preview_wait.style.backgroundPosition = "center"; // Центрирование фона
                    document.getElementById("wbd").checked = ""
                }
            });
            });
        </script>


<div class="content_bottom">
    <div class="custom-btm">
        <button type="submit" asp-action="EditDisplay">Сохранить</button>
    </div>
</div>
</form>
</div>

@section Scripts
{
    <script>function clearFileWL() {
        document.getElementById("wait_logo").src = "/" 
        document.getElementById("wld").checked = "checked"
        
    }
    function clearFileWB() {
        document.getElementById("preview_wait").style.backgroundImage = `url(/)`; 
        document.getElementById("wbd").checked = "checked"
        
    }
    function clearFileSL() {
        document.getElementById("success-logo").src = "/" 
        document.getElementById("sld").checked = "checked"
        
    }
    function clearFileSB() {
        document.getElementById("preview_success").style.backgroundImage = `url(/)`;
        document.getElementById("sbd").checked = "checked"
        
    }
    function clearFileFL() {    
        document.getElementById("fail-logo").src = "/" 
        document.getElementById("fld").checked = "checked"
        
    }
    function clearFileFB() {    
        document.getElementById("preview-fail").style.backgroundImage = `url(/)`;
        document.getElementById("fbd").checked = "checked"
        
    }
    
        function PassSelectedValue(selectObject) {
            window.location.href = "Settings?templateId=" + selectObject.value;
        }
    </script>
}