@model PrintViewModel
@using WebApp1.Views.Event
@{
    Layout = "_Layout";
    ViewData["Title"] = "Настройка печати";
    ViewData["ActivePage"] = EventNavPages.EditPrint;
}

<div id="tab_print" class="tabcontent">
    <div class="content_header">
        <h1>@ViewData["Title"]</h1>

        <label>Шаблон</label>

        <div class="custom-select">
            <select onchange="PassSelectedValue(this)">
                @if (Model.TemplateIds.Any())
                {
                    foreach (var templateId in Model.TemplateIds)
                    {
                        if (templateId == Model.SelectedTemplateId)
                        {
                            <option value="@templateId" selected>Шаблон @templateId</option>
                        }
                        else
                        {
                            <option value="@templateId">Шаблон @templateId</option>
                        }
                    }
                }
                @if (Model.SelectedTemplateId is null)
                {
                    <option value="" selected>Новый шаблон</option>
                }
                else
                {
                    <option value="">Новый шаблон</option>
                }
            </select>
        </div>

        <hr>

        <h3>Ориентация и данные</h3>
    </div>

    <partial name="_TemplateForm" model="Model.TemplateViewModel"/>
</div>

@section Scripts
{
    <script>
        function PassSelectedValue(selectObject) {
            window.location.href = "Print?eventId=" + @Model.EventId + "&templateId=" + selectObject.value;
        }
        function clearFileL() {
            document.getElementById('print_card_component').querySelector("#card_logo").src = "/"
            document.getElementById("ld").checked = "checked"
        }
        function clearFileB() {
            document.getElementById('print_card_component').style.backgroundImage = `url(/)`; 
            document.getElementById("bd").checked = "checked"
        }
    </script>
}