@using WebApp1.Views.Event
@model Scanners
@{
    Layout = "_Layout";
    ViewData["ActivePage"] = EventNavPages.Tickets;
}

<div class="tabcontent">
    <div class="content_block">
        <table class="details">
            <tr>
                <th>
                    <p>Логин</p>
                </th>
                <th></th>
            </tr>

            @if (!Model.ScannersList.Any())
            {
                <tr>
                    <td colspan="99">К этому мероприятию пока не добавлены билетеры</td>
                </tr>
            }
            else
            {
                @foreach (var scanner in Model.ScannersList)
                {
                    <tr>
                        <td>
                            <p hidden>@scanner.Id</p>
                            <p>@scanner.Username</p>
                        </td>
                        <td class="custom-link-btm">
                            <p onclick="location.href='@Url.Action("EditScanner", new { userId = scanner.Id, eventId = Model.EventId, eventName = Model.EventName, })';">подробнее</p>
                        </td>
                    </tr>
                }
            }
        </table>
    </div>

    <div class="content_bottom">
        <div class="custom-btm">
            <a asp-controller="Event"
               asp-action="AddScanner"
               asp-route-eventId="@Model.EventId"
               asp-route-eventName="@Model.EventName">
                Добавить билетера
            </a>
        </div>
    </div>
</div>