@model IEnumerable<WebApp1.Models.Client>

@{
}

<div class="d-flex justify-content-between mt-5 mb-3">
</div>
<div class="table-responsive custom-table mb-5">
    <table class="table table-dark table-hover align-middle">
        <thead>
            <tr>
                <th class="table-col-header">
                    @*@Html.DisplayNameFor(model => model.Name)*@
                    <div class="table-col-header">Имя</div>
                </th>
                <th class="table-col-header">
                    @*@Html.DisplayNameFor(model => model.Surname)*@
                    <div class="table-col-header">Фамилия</div>
                </th>
                <th class="table-col-header">
                    @*@Html.DisplayNameFor(model => model.Patronymic)*@
                    <div class="table-col-header">Отчество</div>
                </th>
                <th class="table-col-header">
                    @*@Html.DisplayNameFor(model => model.Email)*@
                    <div class="table-col-header">Почта</div>
                </th>
                <th class="table-col-header">
                    @*@Html.DisplayNameFor(model => model.PhoneNumber)*@
                    <div class="table-col-header">Номер телефона</div>
                </th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td class="table-row">
                    <div class="table-col">@Html.DisplayFor(modelItem => item.Name)</div>
                </td>
                <td class="table-row">
                    <div class="table-col">@Html.DisplayFor(modelItem => item.Surname)</div>
                </td>
                <td class="table-row">
                    <div class="table-col">@Html.DisplayFor(modelItem => item.Patronymic)</div>
                </td>
                <td class="table-row">
                    <div class="table-col">@Html.DisplayFor(modelItem => item.Email)</div>
                </td>
                <td class="table-row">
                    <div class="table-col">@Html.DisplayFor(modelItem => item.PhoneNumber)</div>
                </td>
                @*<td class="table-row">
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id">Подробнее</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>*@
            </tr>
    }
        </tbody>
    </table>
</div>
