@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService As
<div class="d-flex flex-nowrap align-items-center">
    @if (User.Identity?.IsAuthenticated ?? false)
    {
        var result = await As.AuthorizeAsync(User, "RegisterConfirmation");
        @if (User.IsInRole("Organizer") && result.Succeeded)
        {
            <button class="btn btn-outline-primary me-5" onclick="location.href='@Url.Action("Index", "Event")'">Мероприятия</button>
            <button class="btn btn-outline-primary me-5" onclick="location.href='@Url.Action("Index", "Client")'">Покупатели</button>
            <button class="btn btn-outline-primary me-5" onclick="location.href='@Url.Action()'">Терминал</button>
            <button class="btn btn-outline-primary me-5" onclick="location.href='@Url.Action("Settings", "Account")'">Настройки</button>
            <button class="btn btn-outline-primary me-5" onclick="location.href='@Url.Action("Index", "Manage")'">Профиль</button>
            <button class="btn btn-outline-primary me-5" onclick="location.href='@Url.Action("Lockout", "Account")'">Выйти</button>
        }

        @if (User.IsInRole("Admin"))
        {
            <button class="btn btn-outline-primary me-5" onclick="location.href='@Url.Action("Index", "User")'">Пользователи</button>
            <button class="btn btn-outline-primary me-5" onclick="location.href='@Url.Action()'">Покупатели</button>
            <button class="btn btn-outline-primary me-5" onclick="location.href='@Url.Action()'">Терминал</button>
            <button class="btn btn-outline-primary me-5" onclick="location.href='@Url.Action("Settings", "Account")'">Настройки</button>
            <button class="btn btn-outline-primary me-5" onclick="location.href='@Url.Action("Index", "Manage")'">Профиль</button>
            <button class="btn btn-outline-primary me-5" onclick="location.href='@Url.Action("Lockout", "Account")'">Выйти</button>
        }

        @if (User.IsInRole("Scanner"))
        {
            <button class="btn btn-outline-primary me-5" onclick="location.href='@Url.Action("Index", "Event")'">Мероприятия</button>
            <button class="btn btn-outline-primary me-5" onclick="location.href='@Url.Action("Settings", "Account")'">Настройки</button>
            <button class="btn btn-outline-primary me-5" onclick="location.href='@Url.Action("Index", "Manage")'">Профиль</button>
            <button class="btn btn-outline-primary me-5" onclick="location.href='@Url.Action("Lockout", "Account")'">Выйти</button>
        }

<!--         <form asp-controller="Account" asp-action="Logout" method="post" class=""> -->
<!--             <button type="submit" class="exit-btn"> -->
<!--                 <img src="/images/exit.png" alt="MiceKazan" width="25" height="25"> -->
<!--             </button> -->
<!--         </form> -->
    }
    else
    {
        @if (ViewContext.RouteData.Values["Action"] as string != "Login")
        {
            <button class="btn btn-outline-primary" onclick="location.href='@Url.Action("Login", "Account")'">Вход</button>
        }
        else
        {
            <button class="btn btn-outline-primary me-2" onclick="location.href='@Url.Action("Register", "Account")'">Регистрация</button>
        }
    }
</div>