@model ScreenViewModel
@{
    ViewData["Title"] = "Home page";
}

<div id="videoContainer" hidden>
    <video id="videoElement" autoplay playsinline></video>
</div>

<div id="result"></div>
<label asp-for="MainText">@Model.MainText</label>
<label asp-for="Description">@Model.Description</label>
<img alt="" height="100" width="100" src="@Model.BackgroundPath">
<img alt="" height="100" width="100" src="@Model.LogoPath">


@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/jsqr/dist/jsQR.min.js"></script>
    <script>
        function startCamera() {
            const videoElement = document.getElementById('videoElement');
            const resultElement = document.getElementById('result');
            let prevCode = '';
            navigator.mediaDevices.getUserMedia({ video: { facingMode: 'user' } }).then(function (mediaStream) {
                videoElement.srcObject = mediaStream;

                const canvasElement = document.createElement('canvas');
                const canvasContext = canvasElement.getContext('2d');

                setInterval(async function () {
                    canvasElement.width = videoElement.videoWidth;
                    canvasElement.height = videoElement.videoHeight;
                    canvasContext.drawImage(videoElement, 0, 0, canvasElement.width, canvasElement.height);

                    const imageData = canvasContext.getImageData(0, 0, canvasElement.width, canvasElement.height);
                    const code = jsQR(imageData.data, imageData.width, imageData.height);
                    if (code === null) {
                        return;
                    }
                    if (code.data.toString().length === 12 && code.data !== prevCode) {
                        prevCode = code.data
                        fetch('@Url.Action("PrintTicket", "Ticket")?code=' + code.data, {
                          method: 'POST',
                          headers: {
                            'Content-Type': 'application/json'
                          },
                        })
                          .then(response => response.json())
                          .then(data => console.log(data))
                          .catch(error => console.error(error));
                    }
                }, 1000 / 30);
            })
                .catch(function (error) {
                    console.error('Ошибка при получении доступа к камере:', error);
                });
        }

        window.onload = function () {
            startCamera();
        };
    </script>
}