@model DisplayViewModel

@using WebApp1.Views.Settings
@{
    Layout = "_Layout";
    ViewData["Title"] = "Настройка Экрана";
    ViewData["ActivePage"] = SettingsNavPages.Display;
}

<div id="tab_print" class="tabcontent">
    <h1>@ViewData["Title"]</h1>

    <label>Мероприятие</label>
    <select onchange="PassSelectedValue(this)">
        @if (Model.Events.Any())
        {
            foreach (var events in Model.Events)
            {
                if (events.Id == Model.SelectedEventId)
                {
                    <option value="@events.Id" selected>@events.Name</option>
                }
                else
                {
                    <option value="@events.Id">@events.Name</option>
                }
            }
        }
    </select>

    <h3>Ориентация и данные</h3>
    <partial name="_DisplayForm" model="Model.WaitingDisplayViewModel"/>
    <partial name="_DisplayForm" model="Model.FailDisplayViewModel"/>
    <partial name="_DisplayForm" model="Model.SuccessDisplayViewModel"/>
</div>

@section Scripts
{
    <script>
        function PassSelectedValue(selectObject) {
            window.location.href = "Settings?templateId=" + selectObject.value;
        }
    </script>
}