@model PrintViewModel

@using WebApp1.Views.Settings
@{
    Layout = "_Layout";
    ViewData["Title"] = "Настройка печати";
    ViewData["ActivePage"] = SettingsNavPages.Print;
}

<div id="tab_print" class="tabcontent">
    <h1>@ViewData["Title"]</h1>

    <label>Шаблон</label>
    <select onchange="PassSelectedValue(this)">
        @if (Model.TemplateIds.Any())
        {
            foreach (var templateId in Model.TemplateIds)
            {
                if (templateId == Model.SelectedTemplateId)
                {
                    <option value="@templateId" selected>Шаблон @templateId</option>
                }
                else
                {
                    <option value="@templateId">Шаблон @templateId</option>
                }
            }
        }
        @if (Model.SelectedTemplateId is null)
        {
            <option value="" selected>Новый шаблон</option>
        }
        else
        {
            <option value="">Новый шаблон</option>
        }
    </select>

    <h3>Ориентация и данные</h3>
    <partial name="_TemplateForm" model="Model.TemplateViewModel"/>
</div>

@section Scripts
{
    <script>
        function PassSelectedValue(selectObject) {
            window.location.href = "Settings/Display?templateId=" + selectObject.value;
        }
    </script>
}