@using WebApp1.Views.Manage
<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <a asp-controller="Manage" asp-action="Index" class="nav-link @ManageNavPages.ProfileNavClass(ViewContext)" id="profile">Профиль</a>
    </li>
    <li class="nav-item">
        <a asp-controller="Manage" asp-action="Email" class="nav-link @ManageNavPages.EmailNavClass(ViewContext)" id="email">Почта</a>
    </li>
    <li class="nav-item">
        <a asp-controller="Manage" asp-action="ChangePassword" class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password">Пароль</a>
    </li>
    <li class="nav-item">
        <a asp-controller="Manage" asp-action="TwoFactorAuthentication" class="nav-link @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" id="two-factor">Двухфакторная аутентификация</a>
    </li>
    @if (User.IsInRole("Organizer"))
    {
        <li class="nav-item">
            <a asp-controller="Manage" asp-action="Token" class="nav-link @ManageNavPages.ChangeTokenNavClass(ViewContext)" id="change-token">Ввести токен</a>
        </li>
    }
</ul>